body {
    padding: 10px;
}

.list_image {
    max-height: 130px;
    max-width: 250px;
    margin-left: 10px;
}

.list_image_container {
    width: 260px;
    text-align: center;
    
}

.listing_info {
    width: 600px;
    min-height: 130px;
    max-height: 500px;
    background-color: rgb(253, 251, 219);
    padding: 20px;
}

.listing_page_info {
    width: 600px;
}

#listing_page_container {
    display: flex;
}

.listing_container {
    width: 900px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(253, 251, 219);
}

#view_image {
    max-height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#id_content {
    height: 80px;
}

#submit_form {
    margin-top: 10px;
}

ul
{
list-style-type: none;
}