{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ page_title }}</h2>
    <ul>
        {% for auction in auctions %}
            <li>
                <div id="listing_container">
                    <div class="listing_info">
                        <strong><a href="{% url 'auctions:view_listing' auction.id %}">{{ auction.title }}</a></strong> Created by {{ auction.creator.username }}
                        <br>
                        Starting bid: {{ auction.starting_bid }}
                        <br>
                        Category: {{ auction.category.name }}
                    </div>
                    <div>
                        <img class="list_image" src="{{ auction.image }}" onerror="this.onerror=null; this.src='//thumbs.dreamstime.com/b/no-image-available-icon-photo-camera-flat-vector-illustration-132483097.jpg'" alt="">
                    </div>
                </div>
            </li>
        {% empty %}
            No listings
        {% endfor %}
    </ul>

    

{% endblock %}