{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ page_title }}</h2>
    <ul>
        {% for auction in auctions %}
            <li>
                <strong><a href="{% url 'view_listing' auction.id %}">{{ auction.title }}</a></strong> Created by {{ auction.creator.username }}
                <br>
                {{ auction.description }}
                <br>
                Starting bid: {{ auction.starting_bid }}
                <br>
                Category: {{ auction.category.name }}
            </li>
        {% empty %}
            No listings
        {% endfor %}
    </ul>

    

{% endblock %}